/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-image: url(hay.jpg);
  background-position: center;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 600px;
}

h2,
#cetakHasil {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

table {
  border: 2px solid #333;
  padding: 20px;
  margin: auto;
}

input[type="number"] {
  width: 65%;
}

#nilaiAwal {
  margin: 10px 0;
}

select {
  width: 69%;
}

#btn {
  padding: 5px 10px;
  margin-top: 15px;
}